.box1
{
    width: 1460px ;
    height: 680px;
   margin: 25px;
    background-image: url("Sans-titre---2.jpg");
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(0, 221, 255);
    border-width: 4px;
}